body {
	background-image: url("/morningfog-small.jpg");
	background-repeat: none;
	background-size: cover;
	background-attachment:fixed;
}

@font-face {
	font-family: "Daniel";
	src: "/Daniel-Regular.otf"
}
#title-span {
	font-family: "Daniel" !important;
	font-size: 3em;
	color: antiquewhite;
	margin-left: 1rem;
	margin-top: 1em;
}

a, article {
	font-size: 1em;
	color: antiquewhite;
	text-decoration: none;
}

article {
	max-width: 33em;
}

.menuitem, article {
	margin-top: 1rem;
	margin-left: 1rem;
	font-family: sans-serif;
}